.container{
	position:relative;
	height:650px;
	
}


.p-relative{
	position:relative;
}
.p-absolute{
	position:absolute;
}
.yard{
	position:absolute;
	width:100%;
	height:650px;
}
.logo{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	z-index:3;
}
.tom{
	position:absolute;
	bottom:0;
	right:0;
	animation:tom-anim 2s infinite ;
}

.jerry{
	position:absolute;
	width:300px;
	bottom:15px;
	left:650px;
	animation:jerry-anim 2s infinite ;
	
}


@keyframes tom-anim {
    from {right: 0px;}
    to {right: 980px;}
    
  }
  @keyframes jerry-anim {
    from {left:  0px;}
    to {left:  980px;}
    
  }








